<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="CurrencyRatesData_ConnectionString"
         connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=ML_CURRENCY_RATES;integrated security=True;MultipleActiveResultSets=True;App=CurrencyRates"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FxRatesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.lb.lt/webservices/fxrates/FxRates.asmx"
                binding="basicHttpBinding" bindingConfiguration="FxRatesSoap"
                contract="LietuvosBankas.CurrencyRates.FxRatesSoap" name="FxRatesSoap" />
    </client>
    <services>
      <service name="MobileLife.CurrencyRates.Api.ApiServices.CurrencyRatesApiService" behaviorConfiguration="mexServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/CurrencyRates" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="MobileLife.CurrencyRates.Api.ApiServices.ICurrencyRatesApiService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>