<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FxRatesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.lb.lt/webservices/fxrates/FxRates.asmx"
          binding="basicHttpBinding" bindingConfiguration="FxRatesSoap"
          contract="LietuvosBankas.CurrencyRates.FxRatesSoap" name="FxRatesSoap" />
    </client>
  </system.serviceModel>
</configuration>